Contas a Pagar - Desktop.View/Service References/CAgencia/CAgencia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CAgencia" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:14139/CAgencia.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:14139/CAgencia.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:14139/CAgencia.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICAgencia_Inserir_InputMessage">
    <wsdl:part name="parameters" element="tns:Inserir" />
  </wsdl:message>
  <wsdl:message name="ICAgencia_Inserir_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirResponse" />
  </wsdl:message>
  <wsdl:message name="ICAgencia_Alterar_InputMessage">
    <wsdl:part name="parameters" element="tns:Alterar" />
  </wsdl:message>
  <wsdl:message name="ICAgencia_Alterar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarResponse" />
  </wsdl:message>
  <wsdl:message name="ICAgencia_Excluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="ICAgencia_Excluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICAgencia_SelecionarTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarTodos" />
  </wsdl:message>
  <wsdl:message name="ICAgencia_SelecionarTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarTodosResponse" />
  </wsdl:message>
  <wsdl:message name="ICAgencia_SelecionarTodosCriterio_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarTodosCriterio" />
  </wsdl:message>
  <wsdl:message name="ICAgencia_SelecionarTodosCriterio_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarTodosCriterioResponse" />
  </wsdl:message>
  <wsdl:message name="ICAgencia_SelecionarTodosView_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarTodosView" />
  </wsdl:message>
  <wsdl:message name="ICAgencia_SelecionarTodosView_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarTodosViewResponse" />
  </wsdl:message>
  <wsdl:message name="ICAgencia_SelecionarTodosViewCriterio_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarTodosViewCriterio" />
  </wsdl:message>
  <wsdl:message name="ICAgencia_SelecionarTodosViewCriterio_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarTodosViewCriterioResponse" />
  </wsdl:message>
  <wsdl:message name="ICAgencia_AgenciaExiste_InputMessage">
    <wsdl:part name="parameters" element="tns:AgenciaExiste" />
  </wsdl:message>
  <wsdl:message name="ICAgencia_AgenciaExiste_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgenciaExisteResponse" />
  </wsdl:message>
  <wsdl:portType name="ICAgencia">
    <wsdl:operation name="Inserir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICAgencia/Inserir" message="tns:ICAgencia_Inserir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICAgencia/InserirResponse" message="tns:ICAgencia_Inserir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICAgencia/Alterar" message="tns:ICAgencia_Alterar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICAgencia/AlterarResponse" message="tns:ICAgencia_Alterar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICAgencia/Excluir" message="tns:ICAgencia_Excluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICAgencia/ExcluirResponse" message="tns:ICAgencia_Excluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionarTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICAgencia/SelecionarTodos" message="tns:ICAgencia_SelecionarTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICAgencia/SelecionarTodosResponse" message="tns:ICAgencia_SelecionarTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionarTodosCriterio">
      <wsdl:input wsaw:Action="http://tempuri.org/ICAgencia/SelecionarTodosCriterio" message="tns:ICAgencia_SelecionarTodosCriterio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICAgencia/SelecionarTodosCriterioResponse" message="tns:ICAgencia_SelecionarTodosCriterio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionarTodosView">
      <wsdl:input wsaw:Action="http://tempuri.org/ICAgencia/SelecionarTodosView" message="tns:ICAgencia_SelecionarTodosView_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICAgencia/SelecionarTodosViewResponse" message="tns:ICAgencia_SelecionarTodosView_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionarTodosViewCriterio">
      <wsdl:input wsaw:Action="http://tempuri.org/ICAgencia/SelecionarTodosViewCriterio" message="tns:ICAgencia_SelecionarTodosViewCriterio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICAgencia/SelecionarTodosViewCriterioResponse" message="tns:ICAgencia_SelecionarTodosViewCriterio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgenciaExiste">
      <wsdl:input wsaw:Action="http://tempuri.org/ICAgencia/AgenciaExiste" message="tns:ICAgencia_AgenciaExiste_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICAgencia/AgenciaExisteResponse" message="tns:ICAgencia_AgenciaExiste_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICAgencia" type="tns:ICAgencia">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Inserir">
      <soap:operation soapAction="http://tempuri.org/ICAgencia/Inserir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <soap:operation soapAction="http://tempuri.org/ICAgencia/Alterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/ICAgencia/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionarTodos">
      <soap:operation soapAction="http://tempuri.org/ICAgencia/SelecionarTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionarTodosCriterio">
      <soap:operation soapAction="http://tempuri.org/ICAgencia/SelecionarTodosCriterio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionarTodosView">
      <soap:operation soapAction="http://tempuri.org/ICAgencia/SelecionarTodosView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionarTodosViewCriterio">
      <soap:operation soapAction="http://tempuri.org/ICAgencia/SelecionarTodosViewCriterio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgenciaExiste">
      <soap:operation soapAction="http://tempuri.org/ICAgencia/AgenciaExiste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CAgencia">
    <wsdl:port name="BasicHttpBinding_ICAgencia" binding="tns:BasicHttpBinding_ICAgencia">
      <soap:address location="http://localhost:14139/CAgencia.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>