Contas a Pagar - Desktop.View/Service References/CAgencia/CAgencia.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14139/CAgencia.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" />
  <xs:element name="Inserir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" minOccurs="0" name="oAgencia" nillable="true" type="q1:Agencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InserirResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" minOccurs="0" name="oAgencia" nillable="true" type="q2:Agencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AlterarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Excluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExcluirResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" minOccurs="0" name="SelecionarTodosResult" nillable="true" type="q3:ArrayOfAgencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosCriterio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Criterio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Escolha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosCriterioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" minOccurs="0" name="SelecionarTodosCriterioResult" nillable="true" type="q4:ArrayOfAgencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosView">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" minOccurs="0" name="SelecionarTodosViewResult" nillable="true" type="q5:ArrayOfPesquisaAgencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosViewCriterio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Criterio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Escolha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosViewCriterioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" minOccurs="0" name="SelecionarTodosViewCriterioResult" nillable="true" type="q6:ArrayOfPesquisaAgencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgenciaExiste">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgenciaExisteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgenciaExisteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>