Contas a Pagar - Desktop.View/Service References/CAgencia/CAgencia1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14139/CAgencia.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Agencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="Banco" type="xs:int" />
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gerente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Agencia" nillable="true" type="tns:Agencia" />
  <xs:complexType name="ArrayOfAgencia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agencia" nillable="true" type="tns:Agencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgencia" nillable="true" type="tns:ArrayOfAgencia" />
  <xs:complexType name="ArrayOfPesquisaAgencia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PesquisaAgencia" nillable="true" type="tns:PesquisaAgencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPesquisaAgencia" nillable="true" type="tns:ArrayOfPesquisaAgencia" />
  <xs:complexType name="PesquisaAgencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgenciaID" type="xs:int" />
      <xs:element minOccurs="0" name="BancoID" type="xs:int" />
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gerente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="PesquisaAgencia" nillable="true" type="tns:PesquisaAgencia" />
</xs:schema>