Contas a Pagar - Desktop.View/Service References/CContaCorrente/CContaCorrente2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14139/CContaCorrente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ContaCorrente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agencia" type="xs:int" />
      <xs:element minOccurs="0" name="Conta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limite" type="xs:decimal" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ContaCorrente" nillable="true" type="tns:ContaCorrente" />
  <xs:complexType name="ArrayOfContaCorrente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContaCorrente" nillable="true" type="tns:ContaCorrente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContaCorrente" nillable="true" type="tns:ArrayOfContaCorrente" />
  <xs:complexType name="ArrayOfPesquisarCC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PesquisarCC" nillable="true" type="tns:PesquisarCC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPesquisarCC" nillable="true" type="tns:ArrayOfPesquisarCC" />
  <xs:complexType name="PesquisarCC">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgenciaID" type="xs:int" />
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Conta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gerente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limite" type="xs:decimal" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="PesquisarCC" nillable="true" type="tns:PesquisarCC" />
</xs:schema>