Contas a Pagar - Desktop.View/Service References/CPlanoContas/CPlanoContas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CPlanoContas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:14139/CPlanoContas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:14139/CPlanoContas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:14139/CPlanoContas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICPlanoContas_Inserir_InputMessage">
    <wsdl:part name="parameters" element="tns:Inserir" />
  </wsdl:message>
  <wsdl:message name="ICPlanoContas_Inserir_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirResponse" />
  </wsdl:message>
  <wsdl:message name="ICPlanoContas_Alterar_InputMessage">
    <wsdl:part name="parameters" element="tns:Alterar" />
  </wsdl:message>
  <wsdl:message name="ICPlanoContas_Alterar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarResponse" />
  </wsdl:message>
  <wsdl:message name="ICPlanoContas_Excluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="ICPlanoContas_Excluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICPlanoContas_SelecionarTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarTodos" />
  </wsdl:message>
  <wsdl:message name="ICPlanoContas_SelecionarTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarTodosResponse" />
  </wsdl:message>
  <wsdl:message name="ICPlanoContas_SelecionarTodosCriterio_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarTodosCriterio" />
  </wsdl:message>
  <wsdl:message name="ICPlanoContas_SelecionarTodosCriterio_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarTodosCriterioResponse" />
  </wsdl:message>
  <wsdl:message name="ICPlanoContas_PlanoContasExiste_InputMessage">
    <wsdl:part name="parameters" element="tns:PlanoContasExiste" />
  </wsdl:message>
  <wsdl:message name="ICPlanoContas_PlanoContasExiste_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlanoContasExisteResponse" />
  </wsdl:message>
  <wsdl:portType name="ICPlanoContas">
    <wsdl:operation name="Inserir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICPlanoContas/Inserir" message="tns:ICPlanoContas_Inserir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICPlanoContas/InserirResponse" message="tns:ICPlanoContas_Inserir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICPlanoContas/Alterar" message="tns:ICPlanoContas_Alterar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICPlanoContas/AlterarResponse" message="tns:ICPlanoContas_Alterar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICPlanoContas/Excluir" message="tns:ICPlanoContas_Excluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICPlanoContas/ExcluirResponse" message="tns:ICPlanoContas_Excluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionarTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICPlanoContas/SelecionarTodos" message="tns:ICPlanoContas_SelecionarTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICPlanoContas/SelecionarTodosResponse" message="tns:ICPlanoContas_SelecionarTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionarTodosCriterio">
      <wsdl:input wsaw:Action="http://tempuri.org/ICPlanoContas/SelecionarTodosCriterio" message="tns:ICPlanoContas_SelecionarTodosCriterio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICPlanoContas/SelecionarTodosCriterioResponse" message="tns:ICPlanoContas_SelecionarTodosCriterio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlanoContasExiste">
      <wsdl:input wsaw:Action="http://tempuri.org/ICPlanoContas/PlanoContasExiste" message="tns:ICPlanoContas_PlanoContasExiste_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICPlanoContas/PlanoContasExisteResponse" message="tns:ICPlanoContas_PlanoContasExiste_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICPlanoContas" type="tns:ICPlanoContas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Inserir">
      <soap:operation soapAction="http://tempuri.org/ICPlanoContas/Inserir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <soap:operation soapAction="http://tempuri.org/ICPlanoContas/Alterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/ICPlanoContas/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionarTodos">
      <soap:operation soapAction="http://tempuri.org/ICPlanoContas/SelecionarTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionarTodosCriterio">
      <soap:operation soapAction="http://tempuri.org/ICPlanoContas/SelecionarTodosCriterio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlanoContasExiste">
      <soap:operation soapAction="http://tempuri.org/ICPlanoContas/PlanoContasExiste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CPlanoContas">
    <wsdl:port name="BasicHttpBinding_ICPlanoContas" binding="tns:BasicHttpBinding_ICPlanoContas">
      <soap:address location="http://localhost:14139/CPlanoContas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>