Contas a Pagar - Desktop.View/Service References/CPlanoContas/CPlanoContas1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14139/CPlanoContas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PlanoContas">
    <xs:sequence>
      <xs:element minOccurs="0" name="Consolidacao" type="xs:boolean" />
      <xs:element minOccurs="0" name="Conta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="PlanoContas" nillable="true" type="tns:PlanoContas" />
  <xs:complexType name="ArrayOfPlanoContas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlanoContas" nillable="true" type="tns:PlanoContas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlanoContas" nillable="true" type="tns:ArrayOfPlanoContas" />
</xs:schema>