Contas a Pagar - Desktop.View/Service References/CPagamento/CPagamento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CPagamento" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:14139/CPagamento.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:14139/CPagamento.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:14139/CPagamento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICPagamento_Inserir_InputMessage">
    <wsdl:part name="parameters" element="tns:Inserir" />
  </wsdl:message>
  <wsdl:message name="ICPagamento_Inserir_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirResponse" />
  </wsdl:message>
  <wsdl:message name="ICPagamento_Alterar_InputMessage">
    <wsdl:part name="parameters" element="tns:Alterar" />
  </wsdl:message>
  <wsdl:message name="ICPagamento_Alterar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarResponse" />
  </wsdl:message>
  <wsdl:message name="ICPagamento_Excluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="ICPagamento_Excluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICPagamento_SelecionarTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarTodos" />
  </wsdl:message>
  <wsdl:message name="ICPagamento_SelecionarTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarTodosResponse" />
  </wsdl:message>
  <wsdl:message name="ICPagamento_SelecionarTodosCriterio_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarTodosCriterio" />
  </wsdl:message>
  <wsdl:message name="ICPagamento_SelecionarTodosCriterio_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarTodosCriterioResponse" />
  </wsdl:message>
  <wsdl:message name="ICPagamento_PagamentoExiste_InputMessage">
    <wsdl:part name="parameters" element="tns:PagamentoExiste" />
  </wsdl:message>
  <wsdl:message name="ICPagamento_PagamentoExiste_OutputMessage">
    <wsdl:part name="parameters" element="tns:PagamentoExisteResponse" />
  </wsdl:message>
  <wsdl:portType name="ICPagamento">
    <wsdl:operation name="Inserir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICPagamento/Inserir" message="tns:ICPagamento_Inserir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICPagamento/InserirResponse" message="tns:ICPagamento_Inserir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICPagamento/Alterar" message="tns:ICPagamento_Alterar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICPagamento/AlterarResponse" message="tns:ICPagamento_Alterar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICPagamento/Excluir" message="tns:ICPagamento_Excluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICPagamento/ExcluirResponse" message="tns:ICPagamento_Excluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionarTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICPagamento/SelecionarTodos" message="tns:ICPagamento_SelecionarTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICPagamento/SelecionarTodosResponse" message="tns:ICPagamento_SelecionarTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionarTodosCriterio">
      <wsdl:input wsaw:Action="http://tempuri.org/ICPagamento/SelecionarTodosCriterio" message="tns:ICPagamento_SelecionarTodosCriterio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICPagamento/SelecionarTodosCriterioResponse" message="tns:ICPagamento_SelecionarTodosCriterio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PagamentoExiste">
      <wsdl:input wsaw:Action="http://tempuri.org/ICPagamento/PagamentoExiste" message="tns:ICPagamento_PagamentoExiste_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICPagamento/PagamentoExisteResponse" message="tns:ICPagamento_PagamentoExiste_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICPagamento" type="tns:ICPagamento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Inserir">
      <soap:operation soapAction="http://tempuri.org/ICPagamento/Inserir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <soap:operation soapAction="http://tempuri.org/ICPagamento/Alterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/ICPagamento/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionarTodos">
      <soap:operation soapAction="http://tempuri.org/ICPagamento/SelecionarTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionarTodosCriterio">
      <soap:operation soapAction="http://tempuri.org/ICPagamento/SelecionarTodosCriterio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PagamentoExiste">
      <soap:operation soapAction="http://tempuri.org/ICPagamento/PagamentoExiste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CPagamento">
    <wsdl:port name="BasicHttpBinding_ICPagamento" binding="tns:BasicHttpBinding_ICPagamento">
      <soap:address location="http://localhost:14139/CPagamento.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>