Contas a Pagar - Desktop.View/Service References/CFornecimentoMaterial/CFornecimentoMaterial2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14139/CFornecimentoMaterial.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" />
  <xs:element name="Inserir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" minOccurs="0" name="oFornecimentoMaterial" nillable="true" type="q1:FornecimentoMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InserirResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosView">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" minOccurs="0" name="SelecionarTodosViewResult" nillable="true" type="q2:ArrayOfFornecimentosMateriais" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" minOccurs="0" name="SelecionarTodosResult" nillable="true" type="q3:ArrayOfFornecimentoMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosMateriais">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosMateriaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" minOccurs="0" name="SelecionarTodosMateriaisResult" nillable="true" type="q4:ArrayOfMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosFornecimentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosFornecimentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" minOccurs="0" name="SelecionarTodosFornecimentosResult" nillable="true" type="q5:ArrayOfRelacaoFornecimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosDetalhesFornecimentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Fornecimento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosDetalhesFornecimentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" minOccurs="0" name="SelecionarTodosDetalhesFornecimentosResult" nillable="true" type="q6:ArrayOfDetalhesFornecimento_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosFornecimentosCriterio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Criterio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Escolha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosFornecimentosCriterioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" minOccurs="0" name="SelecionarTodosFornecimentosCriterioResult" nillable="true" type="q7:ArrayOfRelacaoFornecimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FornecimentoExiste">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FornecimentoID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FornecimentoExisteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FornecimentoExisteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosFornecimentosPorEmpresa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosFornecimentosPorEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" minOccurs="0" name="SelecionarTodosFornecimentosPorEmpresaResult" nillable="true" type="q8:ArrayOfNumFornecimentosPorEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosFornecimentosBasico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fornecedor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosFornecimentosBasicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" minOccurs="0" name="SelecionarTodosFornecimentosBasicoResult" nillable="true" type="q9:ArrayOfTodosFornecimentos_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarFornecimento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Fornecimento" type="xs:int" />
        <xs:element minOccurs="0" name="Cancelado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarFornecimentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelarFornecimentoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosNaoCancelados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosNaoCanceladosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" minOccurs="0" name="SelecionarTodosNaoCanceladosResult" nillable="true" type="q10:ArrayOfFornecimentoMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosFornecimentosPorEmpresaPesquisa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Criterio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Escolha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarTodosFornecimentosPorEmpresaPesquisaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" minOccurs="0" name="SelecionarTodosFornecimentosPorEmpresaPesquisaResult" nillable="true" type="q11:ArrayOfNumFornecimentosPorEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>