Contas a Pagar - Desktop.View/Service References/CBanco/CBanco.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CBanco" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:14139/CBanco.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:14139/CBanco.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:14139/CBanco.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contas_a_Pagar___Desktop.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICBanco_Inserir_InputMessage">
    <wsdl:part name="parameters" element="tns:Inserir" />
  </wsdl:message>
  <wsdl:message name="ICBanco_Inserir_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirResponse" />
  </wsdl:message>
  <wsdl:message name="ICBanco_Alterar_InputMessage">
    <wsdl:part name="parameters" element="tns:Alterar" />
  </wsdl:message>
  <wsdl:message name="ICBanco_Alterar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarResponse" />
  </wsdl:message>
  <wsdl:message name="ICBanco_Excluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="ICBanco_Excluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICBanco_SelecionarTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarTodos" />
  </wsdl:message>
  <wsdl:message name="ICBanco_SelecionarTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarTodosResponse" />
  </wsdl:message>
  <wsdl:message name="ICBanco_SelecionarTodosCriterio_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarTodosCriterio" />
  </wsdl:message>
  <wsdl:message name="ICBanco_SelecionarTodosCriterio_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarTodosCriterioResponse" />
  </wsdl:message>
  <wsdl:message name="ICBanco_BancoExiste_InputMessage">
    <wsdl:part name="parameters" element="tns:BancoExiste" />
  </wsdl:message>
  <wsdl:message name="ICBanco_BancoExiste_OutputMessage">
    <wsdl:part name="parameters" element="tns:BancoExisteResponse" />
  </wsdl:message>
  <wsdl:portType name="ICBanco">
    <wsdl:operation name="Inserir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICBanco/Inserir" message="tns:ICBanco_Inserir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICBanco/InserirResponse" message="tns:ICBanco_Inserir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICBanco/Alterar" message="tns:ICBanco_Alterar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICBanco/AlterarResponse" message="tns:ICBanco_Alterar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICBanco/Excluir" message="tns:ICBanco_Excluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICBanco/ExcluirResponse" message="tns:ICBanco_Excluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionarTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICBanco/SelecionarTodos" message="tns:ICBanco_SelecionarTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICBanco/SelecionarTodosResponse" message="tns:ICBanco_SelecionarTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionarTodosCriterio">
      <wsdl:input wsaw:Action="http://tempuri.org/ICBanco/SelecionarTodosCriterio" message="tns:ICBanco_SelecionarTodosCriterio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICBanco/SelecionarTodosCriterioResponse" message="tns:ICBanco_SelecionarTodosCriterio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BancoExiste">
      <wsdl:input wsaw:Action="http://tempuri.org/ICBanco/BancoExiste" message="tns:ICBanco_BancoExiste_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICBanco/BancoExisteResponse" message="tns:ICBanco_BancoExiste_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICBanco" type="tns:ICBanco">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Inserir">
      <soap:operation soapAction="http://tempuri.org/ICBanco/Inserir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <soap:operation soapAction="http://tempuri.org/ICBanco/Alterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/ICBanco/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionarTodos">
      <soap:operation soapAction="http://tempuri.org/ICBanco/SelecionarTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionarTodosCriterio">
      <soap:operation soapAction="http://tempuri.org/ICBanco/SelecionarTodosCriterio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BancoExiste">
      <soap:operation soapAction="http://tempuri.org/ICBanco/BancoExiste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CBanco">
    <wsdl:port name="BasicHttpBinding_ICBanco" binding="tns:BasicHttpBinding_ICBanco">
      <soap:address location="http://localhost:14139/CBanco.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>